@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #389fff #e9f4fe;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #e9f4fe;
}

*::-webkit-scrollbar-thumb {
    background-color: #389fff;
}

body {
    overflow-x: hidden;
}